/* styles.css */

/* Reset de base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* Utilisation d'une police moderne */
    line-height: 1.6; /* Hauteur de ligne pour un meilleur espacement */
    background-color: #f4f4f4; /* Couleur de fond */
}

/* Styles pour le header */
header {
    background: black; /* Couleur de fond */
    color: white;
    padding: 10px 20px;
    display: flex; /* Utilisation de flexbox */
    justify-content: space-between; /* Espace entre le logo et la navigation */
    align-items: center; /* Alignement vertical */
}

header .logo {
    font-size: 24px; /* Taille de la police du logo */
    font-weight: 700; /* Gras */
}

nav ul {
    list-style: none; /* Suppression des puces de la liste */
    display: flex; /* Utilisation de flexbox pour la navigation */
}

nav ul li {
    margin-left: 20px; /* Espacement entre les éléments du menu */
}

nav ul li a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Pas de soulignement */
    transition: color 0.3s; /* Transition pour l'effet de survol */
}

nav ul li a:hover {
    color: #d4d4d4; /* Couleur au survol */
}

/* Section héro */
.hero {
    background: #f5f5f5; /* Couleur de fond de la section héro */
    padding: 50px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 36px; /* Taille de la police du h1 */
    margin-bottom: 20px; /* Marge sous le titre */
}

/* Actions et boutons */
.actions {
    margin-top: 20px; /* Marge au-dessus des actions */
}

.button {
    background: black; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte des boutons */
    padding: 10px 20px; /* Remplissage */
    text-decoration: none; /* Pas de soulignement */
    border-radius: 5px; /* Coins arrondis */
    margin: 10px; /* Marge autour du bouton */
}

/* Section des fonctionnalités */
.features {
    padding: 20px; /* Remplissage pour la section des fonctionnalités */
}

.features h2 {
    text-align: center; /* Centrer le titre des fonctionnalités */
    margin-bottom: 30px; /* Marge sous le titre */
}

.feature {
    margin: 20px 0; /* Marge en haut et en bas des éléments de fonctionnalité */
}

/* Styles pour le footer */
footer {
    background: black; /* Couleur de fond du footer */
    color: white; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    padding: 10px 0; /* Remplissage */
    width: 100%; /* Largeur complète */
    position: relative; /* Position relative */
    bottom: 0; /* Positionner en bas */
}

/* Styles généraux pour les listes */
ul {
    list-style-type: none; /* Suppression des puces des listes */
    padding: 0; /* Remplissage à 0 */
}

ul li {
    background-color: white; /* Fond blanc pour chaque élément de la liste */
    padding: 10px; /* Remplissage */
    margin: 5px 0; /* Marge en haut et en bas */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
